In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from spillway_opening_function import control_gates

In [2]:
data = pd.read_csv("Spill reservoir Data.csv")

In [3]:
data

,Time (GMT),Time (LCT at India Standard Time),Reservoir Level (m msl),Reservoir Capacity (mcm),Reservoir Area(KM2),Spillway DISCHARGE (M3/S)
0,46:07.0,24-Oct-2022 15:16:07.000,436.899994,695.200012,23.700001,0.0
1,50:00.0,24-Oct-2022 15:20:00.000,436.911987,695.343994,23.700001,0.0
2,00:00.0,24-Oct-2022 15:30:00.000,436.917999,695.632019,23.700001,0.0
3,10:00.0,24-Oct-2022 15:40:00.000,436.917999,695.632019,23.700001,0.0
4,20:00.0,24-Oct-2022 15:50:00.000,436.917999,695.632019,23.700001,0.0
...,...,...,...,...,...,...
4459,00:00.0,24-Nov-2022 14:30:00.000,436.156006,677.544006,23.320000,0.0
4460,10:00.0,24-Nov-2022 14:40:00.000,436.156006,677.544006,23.320000,0.0
4461,20:00.0,24-Nov-2022 14:50:00.000,436.156006,677.544006,23.320000,0.0
4462,30:00.0,24-Nov-2022 15:00:00.000,436.156006,677.544006,23.320000,0.0
4463,40:00.0,24-Nov-2022 15:10:00.000,436.156006,677.544006,23.320000,0.0

In [4]:
heights = data["Reservoir Level (m msl)"].values

In [5]:
heights

array([436.8999939, 436.9119873, 436.9179993, ..., 436.1560059,
       436.1560059, 436.1560059])

In [6]:
heights = [437.9, 438, 438.006, 438.45, 438.54, 438.25]

In [7]:
control_gates(heights)

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]